@CHARSET "UTF-8";
body,table,tr{
	margin:0px;
	padding:0px;
	font-size:12px;
	text-align:center;
	
}
.data_table{
	width:98%;
	border-collapse:collapse;
	margin:0px auto;
}

.data_table .head_tr{
	font-weight:bold;
	background-color:#ccc;
}
.data_table .head_tr tr{
	height:20px;
}